openapi: 3.0.3
info:
  description: 使用说明《OPENAPI接口文档使用说明.md》
  title: 管理API对接文档（2024版）
  version: "2024"
servers:
  - description: 测试地址
    url: https://api.es.xiaojukeji.com/pre-release-20
tags:
  - description: 审批(行前申请单、行后授权)
    name: Approval
  - description: 接口认证
    name: Auth
  - name: Auth2
  - description: 财税信息(账单管理、账单查询)
    name: Bill
  - description: 部门或项目
    name: BudgetCenter
  - description: 城市
    name: City
  - description: 拓展信息
    name: Extend
  - description: 公司主体
    name: LegalEntity
  - description: 用户
    name: Member
  - description: 订单
    name: Order
  - description: 职级
    name: Rank
  - description: 制度
    name: Regulation
  - description: 角色
    name: Role
  - description: 外部出行人
    name: Traveler
paths:
  /api-gateway/g/flight/info/estimatePrice:
    post:
      operationId: Order_FlightEstimatePrice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.FlightEstimatePriceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.FlightEstimatePriceApiReply'
          description: OK
      summary: 机票预估价接口
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /api-gateway/g/flight/orderDetail:
    post:
      description: |-
        该接口用于使用订单号查询机票明细的信息。一般通过列表接口获取国内，国际对应的订单号。

        注意

        - 详情接口只支持订单号+国内、国际查询的方式。
        - 机票订单数据只返回因公订单的数据，不包含手工补单数据，包含国际机票的手工单。
        - 变价实际出票金额暂不提供。
        - company_real_pay、personal_real_pay用户页面点完支付时有值
        - 服务包客服退，需要按照订单号重新获取，或外部申请单号重新获取。
        - 订单数据不建议作为报销数据使用。
      operationId: Order_FlightOrderDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.FlightOrderDetailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.FlightOrderDetailApiReply'
          description: OK
      summary: 机票订单详情查询
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /api-gateway/g/hotel/orderDetail:
    post:
      operationId: Order_HotelOrderDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.HotelOrderDetailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.HotelOrderDetailApiReply'
          description: OK
      summary: 酒店订单详情查询
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /api-gateway/g/train/orderDetail:
    post:
      operationId: Order_TrainOrderDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.TrainOrderDetailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.TrainOrderDetailApiReply'
          description: OK
      summary: 火车票订单详情查询
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /api-gateway/g/train/transfer/queryLeftTicket:
    post:
      operationId: Order_TransferTrainTicketFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.TransferTrainTicketFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.TransferTrainTicketFilterApiReply'
          description: OK
      summary: 火车票中转车次列表
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /api-gateway/train/queryLeftTicket:
    post:
      operationId: Order_TrainLeftTicketFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.TrainLeftTicketFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.TrainLeftTicketFilterApiReply'
          description: OK
      summary: 火车票直达列表接口
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/city/list:
    post:
      description: "说明\n\n- 该接口用于查询全量城市信息，用于展示滴滴企业级品类开城数据；\n- 使用接口前需要先通过国家查询接口获取对应\
        的国家ID;\n- 查询条件给的值查询不到时，会直接返回空。\n\n注意\n\n- 由于当前接口返回数据量比较大，QPS目前最大不超过：8\n- 此\
        接口不能用于实时查询。地址服务需要本地做缓存，接口用于校对数据;\n- 建议一段时间更新本地城市库信息。建议更新周期：每半年。\n\nparam字段\
        列表\n\n| 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |\n| ---- | ---- | ---- | ---- | ----\
        \ |\n| country_id | 国家ID | int | Y |  |\n| province_id | 省ID | int | N | country_id，\
        province_id，city_id 请求的时候省和城市ID加入时作为条件查询返回。country_id+province_id 返回该省的数据；\
        country_id+city_id 返回该城市的数据；city_id 优先级大于province_id |\n| city_id | 城市ID |\
        \ int | N |  |\n| product_type | 可预订品类枚举 | string | Y | 枚举值：10: 用车；20: 机票；\
        30: 酒店；40: 火车票。查询多个品类英文逗号隔开。举例：10,20,30 | "
      operationId: City_ListCity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListCityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListCityApiReply'
          description: OK
      summary: 全量开城城市列表查询
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/order/list:
    post:
      description: |-
        说明

        - 该接口用于查询机票，酒店，火车票，用车订单号的查询，明细的信息需要使用订单号在对应的品类的订单详情查询接口中获取;

        注意

        - out_approval_id/approval_id有值时(approval_id优先级最高)，其他查询条件不生效（时间除外）。查询所有品类时，返回所有的品类信息;
        - start_time，end_time成对出现，查询时间起止都包含在条件内。其他查询条件依赖时间查询存在，不可以单独使用。时间范围：30天;
      operationId: Order_ListOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.ListOrderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.ListOrderApiReply'
          description: OK
      summary: 订单号列表查询
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/rank/create:
    post:
      description: "说明\n- 用于新增职级信息；\n 注意\n- 公司职级总数限制 500 个; \n\nparam字段列表\n | 字段名\
        \ | 字段说明 | 字段类型 | 必填 | 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| out_rank_id\
        \ | 外部职级编号 | string | N | 限制 30 字符 |\n| name | 职级名称 | string | Y | 最长 30 字\
        符，只能输入汉字、字母、数字、下划线、连字符、空格、点、括号、加、减和等号 | "
      operationId: Rank_CreateRank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.rank.v1.CreateRankRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.rank.v1.CreateRankApiReply'
          description: OK
      summary: 职级新增
      tags:
        - Rank
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/rank/del:
    post:
      description: |
        说明
        - 用于删除职级信息；

        param字段列表

        | 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |
        | ---- | ---- | ---- | ---- | ---- |
        | rank_id | 滴滴侧职级 ID | string | N | 滴滴侧职级 ID和外部职级编号二者之一必填 |
        | out_rank_id | 外部职级编号 | string | N | 限制 30 字符 |
      operationId: Rank_DeleteRank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.rank.v1.DeleteRankRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.rank.v1.DeleteRankApiReply'
          description: OK
      summary: 职级删除
      tags:
        - Rank
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/rank/update:
    post:
      description: |-
        说明
        - 用于修改职级信息；

        param字段列表

        | 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |
        | ---- | ---- | ---- | ---- | ---- |
        | rank_id | 滴滴侧职级 ID | string | N | 滴滴侧职级 ID和外部职级编号二者之一必填 |
        | out_rank_id | 外部职级编号 | string | N | 限制 30 字符 |
        | name | 职级名称 | string | Y | 最长 30 字符，只能输入汉字、字母、数字、下划线、连字符、空格、点、括号、加、减和等号 |
      operationId: Rank_UpdateRank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.rank.v1.UpdateRankRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.rank.v1.UpdateRankApiReply'
          description: OK
      summary: 职级修改
      tags:
        - Rank
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/traveler/create:
    post:
      description: "注意\n\n- 用于事先同步外部出行人信息；\n\n param字段列表\n| 字段名 | 字段说明 | 字段类型 | 必填\
        \ | 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| phone | 外部出行人 手机号 | string\
        \ | Y |  |\n| name | 外部出行人姓名 | string | Y | 不大于 26 字符 |\n| english_surname\
        \ | 英文姓 | string | N |  |\n| english_name | 英文名 | string | N | （英文姓 + 英文名\
        \ 不大于 26 字符） |\n| remark | 备注信息 | string | N | 不大于 64 字符 |\n| sex | 性别 | int\
        \ | N | 0-空，1-男，2-女 |\n| out_traveler_id | 外部出行人唯一ID | string | N | 不大于 32\
        \ 字符 |\n| birth_date | 出生日期 | string | N | （YYYY-MM-DD），加密传输注：<br>1、若采用AES256/AES128整\
        体加密，此字段需明文传输，无需单独再加密<br>2、若不整体加密传输时，此字段只可采用AES128加密传输（AES128单独加密时，此接口密钥特殊，\
        需单独申请） |\n| card_list | 身份证件信息 | list<card> | N |  | \n card list字段\n| 字段名\
        \ | 字段说明 | 字段类型 | 必填 | 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| card_type\
        \ | 证件类型 | int | Y | 枚举值数字：1. 身份证，2. 护照，3. 港澳台居民居住证，4. 台胞证，5. 军官证，6. 回乡证，\
        7. 外国人永久居留身份证<br>注意：身份证如果有值，则校验身份证长度必须合规。 |\n| card_no | 证件号码 | string | Y\
        \ | 加密传输，不大于 26 字符 注：<br>1、若采用AES256/AES128整体加密，此字段需明文传输，无需单独再加密<br>2、若不整体\
        加密传输时，此字段只可采用AES128加密传输（AES128单独加密时，此接口密钥特殊，需单独申请） |\n| expire_date | 证件有效\
        期 | string | N | YYYYMMDD （需加密） 加密传输注：<br>1、若采用AES256/AES128整体加密，此字段需明文传输，\
        无需单独再加密<br>2、若不整体加密传输时，此字段只可采用AES128加密传输（AES128单独加密时，此接口密钥特殊，需单独申请） | "
      operationId: Traveler_CreateTraveler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.traveler.v1.CreateTravelerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.traveler.v1.CreateTravelerApiReply'
          description: OK
      summary: 外部出行人新增【请求参数组装比较繁琐】
      tags:
        - Traveler
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/traveler/del:
    post:
      description: "说明\n - 用于删除外部出行人信息；\n\n param字段列表 \n| 字段名 | 字段说明 | 字段类型 | 必填 |\
        \ 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| traveler_id | 滴滴侧出行人ID | string\
        \ | Y |  |"
      operationId: Traveler_DeleteTraveler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.traveler.v1.DeleteTravelerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.traveler.v1.DeleteTravelerApiReply'
          description: OK
      summary: 外部出行人删除
      tags:
        - Traveler
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/traveler/update:
    post:
      description: "说明\n - 用于修改外部出行人信息；\n 注意\n - 修改接口不传或者传空代表不更新，对证件信息编辑时，如果想要新增证件\
        类型，之前想要保留的证件类型数据也需要传输，不然会被清空；\n\n **param字段列表**\n| 字段名 | 字段说明 | 字段类型 | 必填\
        \ | 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| traveler_id | 滴滴侧出行人ID |\
        \ string | Y | 滴滴侧出行人ID |\n| phone | 外部出行人 手机号 | string | Y | 外部出行人 手机号 |\n\
        | name | 外部出行人姓名 | string | Y | 不大于 26 字符 |\n| english_surname | 英文姓 | string\
        \ | N |  |\n| english_name | 英文名 | string | N | （英文姓 + 英文名 不大于 26 字符） |\n\
        | remark | 备注信息 | string | N | 不大于 64 字符 |\n| sex | 性别 | int | N | 0-空，1-男\
        ，2-女 |\n| out_traveler_id | 外部出行人唯一ID | string | N | 不大于 32 字符 |\n| birth_date\
        \ | 出生日期 | string | N | （YYYY-MM-DD），加密传输注：<br>1、若采用AES256/AES128整体加密，此字段需\
        明文传输，无需单独再加密<br>2、若不整体加密传输时，此字段只可采用AES128加密传输（AES128单独加密时，此接口密钥特殊，需单独申请） |\n\
        | card_list | 身份证件信息 | list<card> | N |  |\n| force_clear_fields | 强制清空字段\
        \ | []string | N | 目前只支持传 card_list | \n card list字段\n| 字段名 | 字段说明 | 字段类型\
        \ | 必填 | 备注 |\n| ---- | ---- | ---- | ---- | ---- |\n| card_type | 证件类型 |\
        \ int | Y | 枚举值数字：1. 身份证，2. 护照，3. 港澳台居民居住证，4. 台胞证，5. 军官证，6. 回乡证，7. 外国人永久居留\
        身份证<br>注意：身份证如果有值，则校验身份证长度必须合规。 |\n| card_no | 证件号码 | string | Y | 加密传输，不大\
        于 26 字符 注：<br>1、若采用AES256/AES128整体加密，此字段需明文传输，无需单独再加密<br>2、若不整体加密传输时，此字段只可\
        采用AES128加密传输（AES128单独加密时，此接口密钥特殊，需单独申请） |\n| expire_date | 证件有效期 | string\
        \ | N | YYYYMMDD （需加密） 加密传输注：<br>1、若采用AES256/AES128整体加密，此字段需明文传输，无需单独再加密<br>2、\
        若不整体加密传输时，此字段只可采用AES128加密传输（AES128单独加密时，此接口密钥特殊，需单独申请） | "
      operationId: Traveler_UpdateTraveler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.traveler.v1.UpdateTravelerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.traveler.v1.UpdateTravelerApiReply'
          description: OK
      summary: 外部出行人修改
      tags:
        - Traveler
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/workplace/create:
    post:
      description: |-
        说明

        - 地址目前支持国内城市，cityid需要使用用车的城市接口获取；

        param字段列表
        | 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |
        | --- | --- | --- | --- | --- |
        | city_id | 职场所在城市id | int | Y | 职场所在城市id |
        | out_address_id | 地址所属城市id | string | N | 客户地址ID，最大64字符 |
        | address | 地址详细名称 | string | Y | 地址详细名称，最大100字符 |
        | lng | 经度 | string | Y | 经度 |
        | lat | 纬度 | string | Y | 纬度 |
        | is_workplace | 是否为职场 | int | N | 是否为职场，1是，0否，默认为否 |
        | point_range | 用车范围 | int | Y | 用车范围 100 到1500 枚举为100的整数倍 |
        | remark | 备注 | string | N | 备注，最大200字符 |
      operationId: City_CreateWorkplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.CreateWorkplaceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.CreateWorkplaceApiReply'
          description: OK
      summary: 地点新增
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/workplace/del:
    post:
      description: "param字段列表 \n| 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |\n| --- | --- | ---\
        \ | --- | --- |\n| id | 滴滴地址ID | string | N | 客户ID或滴滴地址ID二选一，如果两个都有，则以滴滴ID为\
        准 |\n| out_address_id | 客户地址ID | string | N |  |"
      operationId: City_DeleteWorkplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.DeleteWorkplaceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.DeleteWorkplaceApiReply'
          description: OK
      summary: 地点删除
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /open-apis/v1/workplace/update:
    post:
      description: "param字段列表 \n| 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |\n| --- | --- | ---\
        \ | --- | --- |\n| id | 滴滴地址ID，客户ID或滴滴地址ID二选一，如果两个都有，则以滴滴ID为准 | string | N\
        \ | 滴滴地址ID |\n| city_id | 职场所在城市id，职场所在城市id，仅限国内城市，滴滴网约车开城城市 | int | Y | 职\
        场所在城市id |\n| out_address_id | 地址所属城市id，客户的内部的地址id（创建后不支持修改），最大64字符 | string\
        \ | N | 地址所属城市id |\n| address | 称地址详细名称 最大100字符 | string | Y | 地址详细名称 |\n\
        | lng | 经度 | string | Y | 经度 |\n| lat | 纬度 | string | Y | 纬度 |\n| is_workplace\
        \ | 是否为职场，1是，0否，默认为否 | int | N | 是否为职场 |\n| point_range | 用车范围 100 到1500 枚\
        举为100的整数倍 | int | Y | 用车范围 |\n| remark | 备注，最大200字符 | string | N | 备注 | "
      operationId: City_UpdateWorkplace
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.UpdateWorkplaceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.UpdateWorkplaceApiReply'
          description: OK
      summary: 地点修改
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/AfterApproval/createPersonalReceipt:
    post:
      description: |-
        注意

        - 审批人要求在企业中;
        - 行后审批驳回流程：
        - 用户用车且企业支付 →  企业管理员在企业系统审核后发起个人付款单创建请求 → 滴滴侧创建行后审批单 → 滴滴侧驳回行后审批单 → 用户登录滴滴企业版APP后即可看到个人付款单并发起支付;
      operationId: Approval_CreatePersonalReceipt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.CreatePersonalReceiptRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.CreatePersonalReceiptApiReply'
          description: OK
      summary: 行后审批结果同步（行后授权）
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/AfterApproval/getPersonalReceiptOrder:
    get:
      operationId: Order_GetPersonalReceiptOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.GetPersonalReceiptOrderApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.GetPersonalReceiptOrderApiReply'
          description: OK
      summary: 行后审批完订单查询个人付款单
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /river/Approval/cancel:
    post:
      description: |-
        注意

        1. 支持所有审批单的取消，取消的逻辑为：API对接的审批单有四种状态：未开始、已开始、已结束、已取消，其中已结束和已取消的状态是不支持取消的。
        2. 机酒火判断是否有关联订单（所有订单状态），差旅单中机酒火只要下单，审批通过、驳回或者取消，都不可以取消差旅单 ；差旅单中用车有进行中、未支付的订单，不可取消；仅用车订单已支付或已取消 可操作取消申请单。
        3. 用车申请单中，有进行中、未支付的订单，不可取消；
        4. is_force参数为1，并且配置强制取消白名单的公司，可以强制取消，不进行订单的校验
        5. 强制取消：取消前的订单不受影响；待支付订单依据下单时的状态进行支付鉴权；取消后无法再产生新订单；出票中的也允许取消；
      operationId: Approval_DeleteApproval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.DeleteApprovalRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.DeleteApprovalApiReply'
          description: OK
      summary: 取消申请单
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Approval/create:
    post:
      description: "该接口用于创建出行审批单，创建成功后会立即在企业APP上显示审批单信息；(申批单类型：1:差旅单；2: 行前审批-按次数；\
        3: 行前审批-按日期)\n\n### 注意\n\n**城市**\n\n1. 创建审批单时：若传递的城市ID为县级市，自动替换为对应的地级市，当传递\
        的城市ID与城市名称不一致时，以城市ID为准，替换为城市ID对应的正确城市名称；\n2. 城市 ID 错误；创建申请单成功，但是申请单上城市不可用\n\
        3. 不传城市 ID；会根据城市名称模糊匹配，如果匹配到多条，默认使用第一条\n4. 所有用车出发地城市和目的地城市参数都应传入城市级别id（当用车\
        出发地城市和目的地城市级别为区县时，应该传入对应所属地级市城市id、区县名称）\n5. 当差旅制度中，出差城市配置为无需员工填写时，出发地、目的地城\
        市传空\n\n**travel_detail**\n\n1. 目前每个行程的开始日期、结束日期，依赖于travel_detail中的start_date、\
        end_date\n2. 为出发地城市创建【送机】和【市内用车】的用车规则。第一个行程的出发地城市无【市内用车】\n3. 为目的地城市创建【接机】和\
        【市内用车】的用车规则。最后一个行程的目的地城市的【市内用车】依赖于end_city_rule\n4. trip中城市行数量限制40个\n\n**passenger_list**\n\
        1. 出行人限制：20 个人\n2. 会议管控：40个人\n\n**out_approval_id**\n\n1. 唯一性校验：company_id+approval_type+申\
        请人维度\n\n**代订制度使用**\n\n1. 代订使用的制度无限制，所有差旅制度都可以，只用来使用差标。\n\n### 说明\n\n1. 申请单\
        新增的 `budget_center_list` 字段，用于多成本中心字段。支持 9 个字段。\n2. `budget_center_id`，`name`，\
        `out_budget_id`，`extend_field_list` 四个字段与 `budget_center_list` 不可以同时使用。\n\
        3. 历史客户可以使用历史 4 个字段可以兼容映射到新字段处理使用多成本中心。需要甲子开关切换多成本中心功能。\n4. 新建取值优先级：最外层 `budget_center_list`\
        \ 大于 人维度 `budget_center_list` 大于 `budget_center_id`，`name`，`out_budget_id`，\
        `extend_field_list`\n\n**序号 1 字段**\n\n当 `sequence = 1` 时：\n\n| 字段 | 历史字段 |\n\
        | ---- | ---- |\n| id | budget_center_id |\n| value | name |\n|  | code |\n\
        |  | out_budget_id |\n\n**序号 2 字段**\n\n当 `sequence = 2` 时：\n\n| 字段 | 历史字段\
        \ |\n| ---- | ---- |\n| id |  |\n| value | extend_field_01 |\n|  | code |\n\
        \n**序号 3 字段**\n\n当 `sequence = 3` 时：\n\n| 字段 | 历史字段 |\n| ---- | ---- |\n|\
        \ id |  |\n| value | extend_field_02 |\n|  | code |\n\n**序号 4 字段**\n\n当 `sequence\
        \ = 4` 时：\n\n| 字段 | 历史字段 |\n| ---- | ---- |\n| id |  |\n| value | extend_field_03\
        \ |\n|  | code | "
      operationId: Approval_CreateApproval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.CreateApprovalRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.CreateApprovalApiReply'
          description: OK
      summary: 创建申请单(行前申请单)
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Approval/getOrder:
    get:
      description: |-
        说明

        - 行后授权可以使用通知接口收到审批单号查询用车的订单信息用作外部的审批信息;
      operationId: Approval_ListApprovalOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.ListApprovalOrderApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.ListApprovalOrderApiReply'
          description: OK
      summary: 审批单查询订单（用车）
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Approval/pass:
    post:
      description: |-
        说明

        - 使用个转企审批时，制度入口下，有员工个人支付费用，支付完成后，可以发起接口申请和审批结果同步;
        - 使用接口需要联系对应的业务同学开通对应的权限;
      operationId: Approval_ApprovalPass
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.ApprovalPassRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.ApprovalPassApiReply'
          description: OK
      summary: 外部审批处理接口
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Approval/update:
    post:
      operationId: Approval_UpdateApproval
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.UpdateApprovalRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.UpdateApprovalApiReply'
          description: OK
      summary: 修改申请单(行前申请单)
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Auth/authorize:
    post:
      description: 用于获取接口access_token
      operationId: Auth_Authorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.auth.v1.AuthorizeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.auth.v1.AuthorizeApiReply'
          description: OK
      summary: 授权认证
      tags:
        - Auth
      x-content-type: application/json
      x-accepts: application/json
  /river/Auth/authorize/v2:
    post:
      operationId: Auth2_CreateAuth2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.auth.v2.CreateAuth2Request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.auth.v2.CreateAuth2Reply'
          description: OK
      summary: 授权认证
      tags:
        - Auth2
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/adjustBillData:
    post:
      operationId: Bill_BillAdjust
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillAdjustRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillAdjustApiReply'
          description: OK
      summary: 账单调整提交和查询接口
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/confirm:
    post:
      operationId: Bill_BillConfirm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillConfirmRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillConfirmApiReply'
          description: OK
      summary: 商旅、网约车账单确认
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/detail:
    get:
      operationId: Bill_BillDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillDetailApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillDetailApiReply'
          description: OK
      summary: 已出账单
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/download:
    get:
      operationId: Bill_BillDownload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillDownloadApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillDownloadApiReply'
          description: OK
      summary: 网约车、出租车账单下载
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/get:
    get:
      operationId: Bill_ListBill
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.ListBillApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.ListBillApiReply'
          description: OK
      summary: 账单列表接口
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/getBillStructure:
    get:
      operationId: Bill_BillStructure
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillStructureApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillStructureApiReply'
          description: OK
      summary: 网约车、商旅账单树查询
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/getNotGeneratedBillDetail:
    get:
      operationId: Bill_NotGenBillDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.NotGenBillDetailApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.NotGenBillDetailApiReply'
          description: OK
      summary: 未出账单
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/summary:
    get:
      operationId: Bill_BillSummary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.BillSummaryApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.BillSummaryApiReply'
          description: OK
      summary: 账单汇总查询-商旅、网约车、出租车
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/Bill/transactionDetail:
    get:
      operationId: Bill_TransactionBillDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.bill.v1.TransactionBillDetailApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.bill.v1.TransactionBillDetailApiReply'
          description: OK
      summary: 网约车，出租车交易明细
      tags:
        - Bill
      x-content-type: application/json
      x-accepts: application/json
  /river/BudgetCenter/add:
    post:
      description: |-
        注意：
        * 部门数量上限是2000，如贵司超过2000个部门，请联系相应的对接同学添加白名单进行扩展;
        * 部门添加时，请不要并发操作，防止部门添加失败；
         * 请求时无需中文转义；

        说明
         * 新建接口后，可以使用查询接口对齐信息;
         * 建议保存新建之后返回的滴滴部门或项目的ID作为唯一主键，用于修改或删除的判断;
      operationId: BudgetCenter_CreateBudgetCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.budgetcenter.v1.CreateBudgetCenterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.budgetcenter.v1.CreateBudgetCenterApiReply'
          description: OK
      summary: 部门或项目新增
      tags:
        - BudgetCenter
      x-content-type: application/json
      x-accepts: application/json
  /river/BudgetCenter/del:
    post:
      description: |-
        说明
         * 停用接口后，可以使用查询接口对齐信息;
         * 查询停用/删除的部门时，不返回;
      operationId: BudgetCenter_DeleteBudgetCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.budgetcenter.v1.DeleteBudgetCenterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.budgetcenter.v1.DeleteBudgetCenterApiReply'
          description: OK
      summary: 部门或项目停用
      tags:
        - BudgetCenter
      x-content-type: application/json
      x-accepts: application/json
  /river/BudgetCenter/edit:
    post:
      description: |-
        说明
         * 新建接口后，可以使用查询接口对齐信息;
         * 建议保存新建之后返回的滴滴部门或项目的ID作为唯一主键，用于修改或删除的判断;
      operationId: BudgetCenter_UpdateBudgetCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.budgetcenter.v1.UpdateBudgetCenterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.budgetcenter.v1.UpdateBudgetCenterApiReply'
          description: OK
      summary: 部门或项目修改
      tags:
        - BudgetCenter
      x-content-type: application/json
      x-accepts: application/json
  /river/BudgetCenter/get:
    get:
      description: |-
        说明：
        * 查询项目或部门在滴滴侧的具体信息;
        * 通过获取的信息用于确认相关的配置信息，可以用于同步滴滴ES后台的信息，只能查询有效的部门。需要查询全部的状态。没有启用接口，过期时间修改逻辑需要确认；
      operationId: BudgetCenter_GetBudgetCenter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.budgetcenter.v1.GetBudgetCenterApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.budgetcenter.v1.GetBudgetCenterApiReply'
          description: OK
      summary: 部门或项目查询
      tags:
        - BudgetCenter
      x-content-type: application/json
      x-accepts: application/json
  /river/City/get:
    get:
      description: |-
        说明

        - 提供用车城市；
      operationId: City_ListCarCity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListCarCityApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListCarCityApiReply'
          description: OK
      summary: 用车城市
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/DemeterAres/AirportCity/index:
    post:
      description: |-
        说明

        - 本接口提供有机场的城市；
      operationId: City_ListAirportCity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListAirportCityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListAirportCityApiReply'
          description: OK
      summary: 机票城市【此接口响应值文档和实际返回值待验证】
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/DemeterAres/Country/index:
    post:
      description: |-
        说明

        - 全量获取国际ID；
      operationId: City_ListCountry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListCountryRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListCountryApiReply'
          description: OK
      summary: 国家
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/DemeterAres/HotelCity/index:
    post:
      description: |-
        说明

        - 本接口提供有酒店的城市；
      operationId: City_ListHotelCity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListHotelCityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListHotelCityApiReply'
          description: OK
      summary: 酒店城市
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/DemeterAres/TrainCity:
    post:
      description: |-
        说明

        - 本接口提供有火车票的城市；
      operationId: City_ListTrainCity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.city.v1.ListTrainCityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.city.v1.ListTrainCityApiReply'
          description: OK
      summary: 火车票城市
      tags:
        - City
      x-content-type: application/json
      x-accepts: application/json
  /river/ExtendInfo/BatchSync:
    post:
      description: "注意\n\n- 拓展信息的批量接口目前只支持创建档案以及对应的子档案信息。\n- 不支持修改父节点关联关系。\n\n说明\n\
        建议的使用方式，档案root建立后，可以选择三种种数据结构：\n\n1. 建立第一级子档案，父节点为空为一级。后续数据挂在二级子档案，推荐\n2.\
        \ 所有的数据按照一级子节点平铺，父节点都为空\n3. 按照层级关系一次性批量同步。目前父子级关系无法变更\n\nitem_list字段列表\n|\
        \ 字段名 | 字段说明 | 字段类型 | 必填 | 备注 |\n| --- | --- | --- | --- | --- |\n| parent_code\
        \ | 子档案的父级子档案code，顶级部门父级不需要传 | string | N | 顶级部门父级不需要传 |\n| code | 子档案code，\
        子档案code在同一个档案下不能重复，150字符以内 | string | Y | 子档案code在同一个档案下不能重复，150字符以内 |\n|\
        \ name | 子档案名称，传了更新 <br> -不传不处理 <br> -传空字符串不处理 <br> -首次创建子档案时，name必传，如果没传或\
        者传空字符串，子档案信息不全，不会创建对应的子档案 <br> -父级子档案在本次接口中创建，但是创建失败，子档案也会创建失败 <br> -父级子档案\
        不合法（已经删除了），不存在，子档案也会创建失败，150字符以内 | string | N | 传了更新 <br> -不传不处理 <br> -传空字\
        符串不处理 <br> -首次创建子档案时，name必传，如果没传或者传空字符串，子档案信息不全，不会创建对应的子档案 <br> -父级子档案在本次接\
        口中创建，但是创建失败，子档案也会创建失败 <br> -父级子档案不合法（已经删除了），不存在，子档案也会创建失败，150字符以内 | "
      operationId: Extend_ExtendBatchSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.extend.v1.ExtendBatchSyncRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.extend.v1.ExtendBatchSyncApiReply'
          description: OK
      summary: 拓展信息批量创建
      tags:
        - Extend
      x-content-type: application/json
      x-accepts: application/json
  /river/ExtendInfo/Get:
    get:
      operationId: Extend_ListExtend
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.extend.v1.ListExtendApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.extend.v1.ListExtendApiReply'
          description: OK
      summary: 拓展信息查询
      tags:
        - Extend
      x-content-type: application/json
      x-accepts: application/json
  /river/ExtendInfo/Status:
    post:
      description: "说明\n- 用于处理档案的状态变更;\n\nitem_list字段列表：\n| 字段名 | 字段说明 | 字段类型 | 必填\
        \ | 备注 |\n| --- | --- | --- | --- | --- |\n| code | 子档案code，子档案code在同一个档案下\
        不能重复 | string | Y | 子档案code在同一个档案下不能重复 |\n| status | 子档案状态，3 数字3为删除 -子档案及以\
        下子档案都会被删除，子档案只有删除，没有停用 | string | Y | 3 数字3为删除 -子档案及以下子档案都会被删除<br>子档案只有删除，\
        没有停用 | "
      operationId: Extend_UpdateExtendStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.extend.v1.UpdateExtendStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.extend.v1.UpdateExtendStatusApiReply'
          description: OK
      summary: 档案状态处理
      tags:
        - Extend
      x-content-type: application/json
      x-accepts: application/json
  /river/LegalEntity/add:
    post:
      description: |-
        说明：
        * 新增公司主体信息后，可以使用查询接口查询ES后台的维护情况。
      operationId: LegalEntity_LegalEntityCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.legalentity.v1.LegalEntityCreateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.legalentity.v1.LegalEntityCreateApiReply'
          description: OK
      summary: 公司主体新增
      tags:
        - LegalEntity
      x-content-type: application/json
      x-accepts: application/json
  /river/LegalEntity/del:
    post:
      description: |-
        说明：
        * 停用公司主体信息。
      operationId: LegalEntity_LegalEntityDel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.legalentity.v1.LegalEntityDelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.legalentity.v1.LegalEntityDelApiReply'
          description: OK
      summary: 公司主体停用
      tags:
        - LegalEntity
      x-content-type: application/json
      x-accepts: application/json
  /river/LegalEntity/edit:
    post:
      description: |-
        说明：
        * 修改公司主体信息后，可以使用查询接口查询ES后台的维护情况。
      operationId: LegalEntity_LegalEntityUpdate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.legalentity.v1.LegalEntityUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.legalentity.v1.LegalEntityUpdateApiReply'
          description: OK
      summary: 公司主体修改
      tags:
        - LegalEntity
      x-content-type: application/json
      x-accepts: application/json
  /river/LegalEntity/get:
    get:
      description: |-
        说明：
        * 查询公司在滴滴侧的具体信息;
        * 通过获取的信息用于确认相关的配置信息，可以用于同步滴滴ES后台的信息;
        * 只返回有效的公司信息。不包含禁用和过期的公司主体信息。需要返回全部的，是不是需要重新封接口。
      operationId: LegalEntity_LegalEntityFilter
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.legalentity.v1.LegalEntityFilterApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.legalentity.v1.LegalEntityFilterApiReply'
          description: OK
      summary: 公司主体查询
      tags:
        - LegalEntity
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/del:
    post:
      description: |-
        说明：
        * 用于删除滴滴ES后台人员信息；
      operationId: Member_DeleteMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.DeleteMemberRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.DeleteMemberApiReply'
          description: OK
      summary: 用户删除
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/detail:
    get:
      description: "注意：\n* 员工工号、手机号是精确查询，名字为模糊查询;\n* offset必须可以被length整除，如offset=0,length=100,0可\
        以被100整除，合法；offset=1,length=100,1不能被100整除，不合法;\n\n 说明： \n * 用户如果传了 last_id，\
        除了 status，其他检索条件会失效;\n * 当 status 为空或者没传，返回的为正常、离职和未绑手机号的员工;\n * birth_date加\
        密格式，返回的参数需要重新提供；"
      operationId: Member_MemberDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.MemberDetailApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.MemberDetailApiReply'
          description: OK
      summary: 员工明细
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/edit:
    post:
      description: |-
        注意：
         - 常驻地目前只支持如“北京”、“北京市”、“北京市海淀区”格式，不支持“海淀区”此类格式，如果传参中带了区县则必须把“市”、“区“、”县”字段都带上。
         - 同一公司。连续添加员工，需要间隔 150ms
      operationId: Member_UpdateMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.UpdateMemberRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.UpdateMemberApiReply'
          description: OK
      summary: 用户修改【缺响应示例】
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/get:
    get:
      description: "注意：\n* 员工工号、手机号是精确查询，名字为模糊查询;\n* offset必须可以被length整除，如offset=0,length=100,0可\
        以被100整除，合法；offset=1,length=100,1不能被100整除，不合法\n\n 说明： \n * 用户如果传了 last_id，除\
        了 status，其他检索条件会失效，首次查询时需要从0开始传递;\n * 当 status 为空或者没传，返回的为正常、离职和未绑手机号的员工;\
        \ * birth_date加密格式，返回的参数需要重新提供;"
      operationId: Member_ListMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.ListMemberApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.ListMemberApiReply'
          description: OK
      summary: 员工列表（批量查询）
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/getQuota:
    get:
      description: "用于查询滴滴ES后台已有的人员的限额信息。\n\n 说明： \n * 限额查询请求的开始日期和结束日期时间跨度不能大于六个月\
        。若只传开始日期，则返回结果为开始日期后当月；若只传结束日期，则返回结果为结束日期当月；\n * 按指定类型返回对应查询日期内的限额信息；\n *\
        \ 若限额类型为自然月，开始、结束日期应传自然月开始日、结束日；若未传自然月开始日、结束日，则按自然月查询（只取年+月份），如：2020-05-03\
        \ 至 2020-06-22，则按照2020-05-01 至 2020-06-31查询；"
      operationId: Member_GetMemberQuota
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.GetMemberQuotaApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.GetMemberQuotaApiReply'
          description: OK
      summary: 员工限额查询
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Member/single:
    post:
      description: |-
        注意

        - 常驻地目前只支持如“北京”、“北京市”、“北京市海淀区”格式，不支持“海淀区”此类格式，如果传参中带了区县则必须把“市”、“区“、”县”字段都带上。
        - 同一公司。连续添加员工，需要间隔 150ms
        - 人员唯一值可以在手机号，员工编号，邮箱中指定一个，如果多个一起传递时，会一起校验企业级内是否有存在重复的信息并报错返回。
      operationId: Member_CreateMember
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.member.v1.CreateMemberRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.member.v1.CreateMemberApiReply'
          description: OK
      summary: 用户新增
      tags:
        - Member
      x-content-type: application/json
      x-accepts: application/json
  /river/Order/detail:
    post:
      operationId: Order_CarOrderDetail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.CarOrderDetailRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.CarOrderDetailApiReply'
          description: OK
      summary: 用车订单详情查询
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /river/Order/get:
    get:
      operationId: Order_GetOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.order.v1.GetOrderApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.order.v1.GetOrderApiReply'
          description: OK
      summary: 用车列表接口
      tags:
        - Order
      x-content-type: application/json
      x-accepts: application/json
  /river/OutApproval/Status:
    post:
      description: |-
        说明

        - 使用预订中审批时，企业级生成了审批单，可以使用该接口进行审批结果的同步;
      operationId: Approval_OutApprovalStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.approval.v1.OutApprovalStatusRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.approval.v1.OutApprovalStatusApiReply'
          description: OK
      summary: 外部通知审批单状态变更接口【此接口文档未标注返回值，待验证】
      tags:
        - Approval
      x-content-type: application/json
      x-accepts: application/json
  /river/Rank/getRanks:
    get:
      description: |-
        说明
        - 用于查询职级的列表信息
      operationId: Rank_ListRank
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.rank.v1.ListRankApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.rank.v1.ListRankApiReply'
          description: OK
      summary: 职级查询
      tags:
        - Rank
      x-content-type: application/json
      x-accepts: application/json
  /river/Regulation/detail:
    get:
      description: |-
        说明
        - 用于查询ES或审批单生成的制度详情；

        注意
        - 返回结果中，souece=2或3时，表明此条制度是由需审批类的制度模板，通过员工申请、审批后生成，此时，以institution_id通过当前接口再次查询，可获得制度模板的详细信息；

        1. source：1代表通用规则，非审批而来，2代表行前审批，3代表差旅
        2. source=2 & scene_type =1时，代表由行前审批制度，审批而来的自叫车
        3. source=2 & scene_type =91时，代表由行前审批制度，审批而来的代叫车
        4. source=3 & scene_type =1时，代表由差旅制度，审批而来的市内用车
        5. source=3 & scene_type =92时，代表由差旅制度，审批而来的接送服务用车
        6. source=4 无需审批代订场景下的临时制度；
      operationId: Regulation_GetRegulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.regulation.v1.GetRegulationApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.regulation.v1.GetRegulationApiReply'
          description: OK
      summary: 制度详情【原始JSON示例与文档对不上，待验证】
      tags:
        - Regulation
      x-content-type: application/json
      x-accepts: application/json
  /river/Regulation/get:
    get:
      description: |-
        说明
        - 用于查询ES后台制度信息
      operationId: Regulation_ListRegulation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.regulation.v1.ListRegulationApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.regulation.v1.ListRegulationApiReply'
          description: OK
      summary: 制度列表
      tags:
        - Regulation
      x-content-type: application/json
      x-accepts: application/json
  /river/Role/get:
    get:
      description: 用于查询员工角色信息
      operationId: Role_ListRole
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.role.v1.ListRoleApiRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.role.v1.ListRoleApiReply'
          description: OK
      summary: 角色查询【返回data字段为数组，特殊处理】
      tags:
        - Role
      x-content-type: application/json
      x-accepts: application/json
components:
  schemas:
    api.approval.v1.ApprovalOrderRecord:
      description: 定义订单记录消息
      example:
        personal_real_pay: personal_real_pay
        scene_type: scene_type
        refund_price: refund_price
        discount_fee: discount_fee
        actual_tlat: actual_tlat
        begin_charge_time: begin_charge_time
        order_status: 1
        company_pay: company_pay
        city_name: city_name
        company_refund: company_refund
        regulation_id: regulation_id
        order_create_time: order_create_time
        car_level: 6
        personal_refund: personal_refund
        actual_end_name: actual_end_name
        pay_type: 5
        is_invoice: 5
        departure_time: departure_time
        passenger_phone: passenger_phone
        call_phone: call_phone
        budget_center_list:
          - sequence: 7
            app_name: app_name
            code: code
            id: id
            value: value
          - sequence: 7
            app_name: app_name
            code: code
            id: id
            value: value
        out_approval_id: out_approval_id
        actual_start_name: actual_start_name
        total_price: total_price
        actual_price: 2.302136
        actual_flat: actual_flat
        scene_id: scene_id
        budget_center_id: budget_center_id
        pre_total_fee: pre_total_fee
        use_car_type: 0
        finish_time: finish_time
        approval_id: approval_id
        pay_time: pay_time
        rule_id: rule_id
        start_name: start_name
        personal_pay: personal_pay
        actual_tlng: actual_tlng
        extra_info: extra_info
        company_real_pay: company_real_pay
        fixed_discount_fee: fixed_discount_fee
        end_name: end_name
        actual_flng: actual_flng
        order_id: order_id
      properties:
        order_id:
          default: ""
          description: 订单ID
          type: string
        approval_id:
          default: ""
          description: 审批单ID
          type: string
        out_approval_id:
          default: ""
          description: 企业主内部审批单ID
          type: string
        rule_id:
          default: ""
          description: 规则ID
          type: string
        regulation_id:
          default: ""
          description: 制度ID
          type: string
        scene_type:
          default: ""
          description: 因公出行场景（0-个人用车、1-商务出行、2-差旅、3-加班、4-办公地点通勤、91-代叫车、92-接送机）
          type: string
        order_create_time:
          default: ""
          description: 订单创建时间，如：1675602713
          type: string
        begin_charge_time:
          default: ""
          description: 订单开始计费时间，如：1675582413
          type: string
        finish_time:
          default: ""
          description: 订单结束计费时间，如：1675583857
          type: string
        departure_time:
          default: ""
          description: 预约上车时间，如：1675582103
          type: string
        use_car_type:
          description: 用车方式（2:专车，3:快车）
          format: int32
          type: integer
        car_level:
          description: "车型，如（100舒适型，400六座商务, 200行政级,600普通快车,900优享快车,1000豪华车,1100企业\
            出租车,2000优选出租车）"
          format: int32
          type: integer
        city_name:
          default: ""
          description: 出发城市名称
          type: string
        start_name:
          default: ""
          description: 出发地名称
          type: string
        end_name:
          default: ""
          description: 目的地名称
          type: string
        actual_start_name:
          default: ""
          description: 实际出发地（司机点击开始的位置）
          type: string
        actual_end_name:
          default: ""
          description: 实际目的地（司机点击结束的位置）
          type: string
        actual_flat:
          default: ""
          description: 实际出发地纬度（司机点击开始的位置）
          type: string
        actual_flng:
          default: ""
          description: 实际出发地经度（司机点击开始的位置）
          type: string
        actual_tlat:
          default: ""
          description: 实际目的地纬度（司机点击结束的位置）
          type: string
        actual_tlng:
          default: ""
          description: 实际目的地经度（司机点击结束的位置）
          type: string
        pay_time:
          default: ""
          description: 支付时间
          type: string
        order_status:
          description: 订单状态（1-发单失败、2-已支付、3-已退款、4-已取消、5-待支付、6-部分支付、7-部分退款）
          format: int32
          type: integer
        pay_type:
          description: 支付方式（0-企业支付、1-个人支付需报销、2-混合支付（企业和个人各支付部分））
          format: int32
          type: integer
        is_invoice:
          description: 开票状态（0-未开、1-开过 ）
          format: int32
          type: integer
        call_phone:
          default: ""
          description: 叫车人手机号
          type: string
        passenger_phone:
          default: ""
          description: 乘车人手机号
          type: string
        total_price:
          default: ""
          description: 订单总金额
          type: string
        actual_price:
          default: 0.0
          description: 订单实付金额（总金额-券折扣金额）
          format: float
          type: number
        refund_price:
          default: ""
          description: 订单总退款金额（企业支付退款+个人支付退款）
          type: string
        company_pay:
          default: ""
          description: 企业支付应付金额
          type: string
        personal_pay:
          default: ""
          description: 个人支付应付金额
          type: string
        company_real_pay:
          default: ""
          description: 企业支付实付金额
          type: string
        personal_real_pay:
          default: ""
          description: 个人支付实付金额
          type: string
        company_refund:
          default: ""
          description: 企业支付退款金额
          type: string
        personal_refund:
          default: ""
          description: 个人支付退款金额
          type: string
        budget_center_id:
          default: ""
          description: 成本中心ID
          type: string
        extra_info:
          default: ""
          description: 扩展信息，自定义字段
          type: string
        scene_id:
          default: ""
          description: 场景ID，101 申请单模式差旅；102 申请用车；103 自驾同行
          type: string
        pre_total_fee:
          default: ""
          description: 特惠快车原价金额 单位元
          type: string
        fixed_discount_fee:
          default: ""
          description: 特惠快车尊享折扣金额 单位元
          type: string
        discount_fee:
          default: ""
          description: 补贴金额 单位元 在使用企业券时，补贴金额 = 尊享折扣 + 券金额，其他情况直接等于尊享折扣
          type: string
        budget_center_list:
          description: 多成本中心
          items:
            $ref: '#/components/schemas/api.approval.v1.BudgetCenterListItem'
          type: array
      type: object
    api.approval.v1.ApprovalPassApiReply:
      example:
        data:
          approval_id: approval_id
      properties:
        data:
          $ref: '#/components/schemas/api.approval.v1.ApprovalPassReply'
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.ApprovalPassReply:
      example:
        approval_id: approval_id
      properties:
        approval_id:
          default: ""
          description: 审批单号
          type: string
      required:
        - approval_id
      type: object
    api.approval.v1.ApprovalPassRequest:
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        company_id:
          default: "{{company_id}}"
          description: 企业ID
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        sign:
          default: ""
          description: 签名
          type: string
        object_type:
          description: 授权对象，授权对象枚举：1：订单 2：审批单
          format: int32
          type: integer
        object_id:
          description: 授权id，object_type对应对象的值 滴滴订单号或滴滴审批单号
          format: int32
          type: integer
        object_approval_type:
          description: 审批类型，审批类型枚举：4：个转企类型 21：企业级事前审批单用车
          format: int32
          type: integer
        is_pass:
          description: 审批类型，审批类型枚举：1：通过 2 拒绝
          format: int32
          type: integer
        cur_approver:
          default: ""
          description: "当前审批人，举例：\"{\\\"type\\\":\\\"phone\\\",\\\"value\\\":\\\"\
            11100077098\\\"}\""
          type: string
        cur_approver_obj:
          $ref: '#/components/schemas/api.approval.v1.CurAppRover'
      required:
        - access_token
        - client_id
        - company_id
        - is_pass
        - object_approval_type
        - object_id
        - object_type
        - sign
        - timestamp
      type: object
    api.approval.v1.BudgetCenterListItem:
      description: "多成本中心Item项,BudgetCenterListItem[]转换为json后 -> budget_center_list"
      example:
        sequence: 7
        app_name: app_name
        code: code
        id: id
        value: value
      properties:
        sequence:
          description: 字段序号 支持从1到9
          format: int32
          type: integer
        id:
          default: ""
          description: sequence为1时，生效
          type: string
        value:
          default: ""
          description: 对应成本中心的值。sequence为1时与name字段一致，sequence为2时，对应extend_field_01，sequence为3时，对应extend_field_02，sequence为4时，对应extend_field_03
          type: string
        code:
          default: ""
          description: 对应成本中心的编码。sequence为1时与out_budget_id字段一致 sequence为2到9时，CODE无效。
          type: string
        app_name:
          default: ""
          description: 名称
          type: string
      required:
        - sequence
      type: object
    api.approval.v1.BusinessTripDetailByDate:
      description: 的因公用车审批行程数据(按日期) -> business_trip_detail
      properties:
        start_time:
          default: ""
          description: 开始时间，需要大于等于接口调用当前时间。时间格式为：2015-06-16 12:00:09，必填
          type: string
        end_time:
          default: ""
          description: 结束时间，需大于等于开始时间。时间格式为：2015-06-16 12:00:09，必填
          type: string
        trips:
          description: "用车城市列表，创建规则时如果选择了“由员工填写”则必填，制度配置为无需填写城市时，传了城市列表也不生效，示例：[{\
            \ \"city_id\": 1, \"city\": \"北京\" },{ \"city_id\": 2, \"city\": \"上海\"\
            \ }]"
          items:
            $ref: '#/components/schemas/api.approval.v1.TripCity'
          type: array
        trip_amount:
          description: 用车金额，单位：【分】（100表示100分，也就是1块钱。大于100生效，小于100为不限，选填
          format: int32
          type: integer
        trip_times:
          description: 用车次数，非必传只在制度配置为【由员工填写时】生效，不传、传空报错，建议传大于0的整数，若想不限次数可以传负数比如 -1，选填
          format: int32
          type: integer
        perorder_money_quota:
          description: 每单限额。单位：【分】（100表示100分，也就是1块钱）。1、es 后台制度配置为【由员工填写】时：该参数必须要传，且参数值要大于0。参数值大于100才生效，参数值小于100时不限制用车金额
            （建议研发人员针对员工填写的参数做一下处理，比如说员工填写100元，该参数传10000）；2. es 后台制度配置为【不限】或者【限制 每单企业支付不超过xx元】时，即使接口传了该参数，该参数也不会生效，以后台配置为主，选填
          format: int32
          type: integer
      required:
        - end_time
        - start_time
      type: object
    api.approval.v1.BusinessTripDetailByTimes:
      description: 因公用车审批行程数据(按次数) -> business_trip_detail
      properties:
        start_time:
          default: ""
          description: 开始时间，开始时间，需要大于等于接口调用当前时间。时间格式为：2015-06-16 12:00:09
          type: string
        end_time:
          default: ""
          description: 结束时间，结束时间，需大于等于开始时间。时间格式为：2015-06-16 12:00:09
          type: string
        departure_city_id:
          description: 滴滴出发城市 ID，出发城市 ID；制度配置需要填写时必填
          format: int32
          type: integer
        departure_city:
          default: ""
          description: 出发地城市名称，出发地城市名称（指定出发地时必填）
          type: string
        destination_city_id:
          description: 滴滴目的地城市ID，目的地城市id（指定目的地时必填）
          format: int32
          type: integer
        destination_city:
          default: ""
          description: 目的地城市名称，目的地城市名称（指定目的地时必填）
          type: string
        start_name:
          default: ""
          description: 出发地名称，出发地名称（最多50个字）（指定出发地时必填）
          type: string
        start_address:
          default: ""
          description: 出发地详细地址，出发地详细地址（最多100个字）（指定出发地时必填）
          type: string
        flat:
          default: 0.0
          description: 出发地纬度，出发地纬度 （指定出发地时必填）
          format: float
          type: number
        flng:
          default: 0.0
          description: 出发地经度，出发地经度 （指定出发地时必填）
          format: float
          type: number
        end_name:
          default: ""
          description: 目的地名称，目的地名称（最多50个字）（指定目的地时必填）
          type: string
        end_address:
          default: ""
          description: 目的地详细地址，目的地详细地址（最多100个字）（指定目的地时必填）
          type: string
        tlat:
          default: 0.0
          description: 目的地纬度，目的地纬度（指定目的地时必填）
          format: float
          type: number
        tlng:
          default: 0.0
          description: 目的地经度，目的地经度（指定目的地时必填）
          format: float
          type: number
        is_return:
          description: 是否往返，是否往返，0-不往返，1-往返，默认为0
          format: int32
          type: integer
        trip_times:
          description: 用车次数，用车次数，当is_return为1时，用车次数必须为偶数（去程一次+回程一次 制度配置为无需填写，传了不生效
          format: int32
          type: integer
        perorder_money_quota:
          description: "每单限额，每单限额，单位:分，需大于100生效, 需是 100 的整数倍 1. 制度配置了由员工填写，小于 100\
            \ 为不限 2. 制度配置为无需填写，传了不生效 3. 制度配置金额，用户也传了。以配置的为主"
          format: int32
          type: integer
        total_money_quota:
          description: 总限额，总限额，单位：分，需大于100生效，需是 100 的整数倍 1. 制度配置了由员工填写，小于 100 为不限
            2. 制度配置为无需填写，传了不生效
          format: int32
          type: integer
      type: object
    api.approval.v1.CreateApprovalApiReply:
      example:
        data:
          approval_id: approval_id
      properties:
        data:
          $ref: '#/components/schemas/api.approval.v1.CreateApprovalReply'
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.CreateApprovalReply:
      example:
        approval_id: approval_id
      properties:
        approval_id:
          default: ""
          description: 申请应用时分配的AppKey
          type: string
      required:
        - client_id
      type: object
    api.approval.v1.CreateApprovalRequest:
      description: budget_center_list、passenger_list、travel_detail、travel_management、travel_budget
        字段是由对象转json后赋值；
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        company_id:
          default: "{{company_id}}"
          description: 滴滴公司 ID
          type: string
        sign:
          default: ""
          description: 签名
          type: string
        out_trip_id:
          default: ""
          description: 外部tripid，用于滴滴首页合并卡片展示
          type: string
        out_trip_info:
          default: ""
          description: 外部trip信息，用于滴滴首页合并卡片展示
          type: string
        approval_type:
          description: "申批单类型，枚举值数字：1:差旅单；2: 行前审批-按次数；3: 行前审批-按日期"
          format: int32
          type: integer
        regulation_id:
          default: ""
          description: (差旅/行前)申请单对应的需审批制度ID regulation_id与policy_type、policy_type_value至少有一组有值
          type: string
        policy_type:
          description: 执行政策指定项类型，1：out_rank_id 外部职级编号；2：employee_number 员工工号；3：employee_phone
            员工手机号；4：employee_email 员工邮箱；5：regulation_id 制度I，指定生效policy_type_value内对应的值
          format: int32
          type: integer
        policy_type_value:
          default: ""
          description: 执行政策指定项
          type: string
        out_approval_id:
          default: ""
          description: "外部申请单ID，客户侧申请单ID，不大于 120 字符。eg: TA_100002，与返回中的approvalid一\
            一对应"
          type: string
        budget_center_id:
          default: ""
          description: 滴滴侧成本中心ID，获取方式接口返回的 ID（可为项目/部门ID)，关联部门 时， id和out_budget_id
            优先处理id关联项目时 id和 out_budget_id与 name 组合唯一值时 优先处理id ，out_budget_id与 name
            同时有值时按照项目处理，out_budget_id有值且name为空时，按照部门处理。
          type: string
        name:
          default: ""
          description: 部门/项目名称，不大于 200 字符
          type: string
        out_budget_id:
          default: ""
          description: 编号，长度限制：≤ 64 字符
          type: string
        reason:
          default: ""
          description: "申请原因，申请原因，限制 200 字符；默认为空字符，eg: 北京出差，行程维度事由。使用卡片事由时，可以为空。"
          type: string
        extra_info:
          default: ""
          description: 扩展信息，扩展信息，自定义字段；最长不大于 500 字符；(必须为json字符串)；默认为空字符
          type: string
        extend_field_list:
          default: ""
          description: 扩展信息list，自定义字段，最长不大于 500 字符，将extend_field_list转为 json 字符串，三个字段仅作为备注性字段。详见extend_field_list
          type: string
        travel_detail:
          default: ""
          description: 差旅单行程信息，差旅单行程信息，将travel_detail的值转为 json 字符串，approval_type =
            1 时必传。
          type: string
        business_trip_detail:
          default: ""
          description: "因公用车审批行程数据，行前行程信息，将 business_trip_detail转为 json 字符串，approval_type\
            \ = 2 或 approval_type = 3 必填。详见 [business_trip_detail](#business_trip_detail\
            \ （按次数）"
          type: string
        travel_budget:
          default: ""
          description: 差旅预算总额，差旅预算控制，一个申请单对应一个总预算纬度，一次只能全部或者选择部分品类。
          type: string
        travel_management:
          default: ""
          description: 差旅管控，差旅管控，目前仅支持市内用车每日限额设置（为json字符串类型，具体看请求示例）
          type: string
        member_type:
          description: 申请人唯一键类型，枚举值数字：0：手机号，phone 必填；1：工号，employee_number 必填；2：邮箱，email
            必填；默认为0
          format: int32
          type: integer
        phone:
          default: ""
          description: 申请人手机号，申请人手机号；默认为空字符；member_type不传 或者member_type 为0时phone必传
          type: string
        employee_number:
          default: ""
          description: 申请人工号，申请人工号，默认为空字符
          type: string
        email:
          default: ""
          description: 申请人邮箱，申请人邮箱；默认为空字符
          type: string
        passenger_list:
          default: ""
          description: 出行人信息，出行人信息，不传时默认出行人为申请人，将passenger_list 转为 json 数组字符串。详见passenger_list
          type: string
        executive_regulation_type:
          description: "代订执行制度类型，枚举值数字：0: 执行申请人制度；1: 执行外部出行人不限差标:（需要passenger_list都\
            是外部出行人）；2: 执行出行人制度，作用于预订时生效的差标。；3: 执行多人多差标制度"
          format: int32
          type: integer
        executive_regulation_id:
          default: ""
          description: 代订执行人的制度，代订执行人的制度，executive_regulation_type=2 时选填，传了就生效，不传：选择
            executive_regulation_member 最新绑定的一条制度
          type: string
        executive_regulation_member_type:
          description: 代订执行人标识类型，枚举值数字：0：手机号，executive_regulation_member 为执行人手机号；1：工号，executive_regulation_member
            为执行人工号；2：邮箱：executive_regulation_member 为执行人邮箱；默认为0
          format: int32
          type: integer
        executive_regulation_member:
          default: ""
          description: 代订执行人(手机号/工号/邮箱)，代订执行人(手机号/工号/邮箱)；默认手机号，注意：执行出行人制度的时候，需要是出行人passenger_list里的员工，executive_regulation_type=2时必传，
            只能是内部员工
          type: string
        budget_center_list:
          default: ""
          description: 多成本中心(array)，序号1对应远成本中心字段，依然支持滴滴内部主键ID。使用部门CODE主键，和项目时名称和code作为主键。
          type: string
        travel_management_obj:
          $ref: '#/components/schemas/api.approval.v1.TravelManagement'
        travel_budget_obj:
          $ref: '#/components/schemas/api.approval.v1.TravelBudget'
        budget_center_list_objs:
          description: "差旅预算总额,可使用脚本将其转换为json后赋值给 budget_center_list 字段"
          items:
            $ref: '#/components/schemas/api.approval.v1.BudgetCenterListItem'
          type: array
        passenger_list_objs:
          description: "出行人信息,可使用脚本将其转换为json后赋值给 passenger_list 字段"
          items:
            $ref: '#/components/schemas/api.approval.v1.PassengerList'
          type: array
        travel_detail_obj:
          $ref: '#/components/schemas/api.approval.v1.TravelDetail'
        business_trip_detail_by_times:
          $ref: '#/components/schemas/api.approval.v1.BusinessTripDetailByTimes'
        business_trip_detail_by_date:
          $ref: '#/components/schemas/api.approval.v1.BusinessTripDetailByDate'
      required:
        - access_token
        - approval_type
        - client_id
        - company_id
        - sign
        - timestamp
      type: object
    api.approval.v1.CreatePersonalReceiptApiReply:
      example:
        data: "{}"
      properties:
        data:
          properties: { }
          type: object
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.CreatePersonalReceiptReply:
      properties: { }
      type: object
    api.approval.v1.CreatePersonalReceiptRequest:
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        company_id:
          default: "{{company_id}}"
          description: 企业ID
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        sign:
          default: ""
          description: 签名
          type: string
        order_id:
          default: ""
          description: 订单号
          type: string
        is_pass:
          description: 审批类型 (0 - 驳回，1 - 通过，默认为0)
          format: int32
          type: integer
        approver_phone:
          default: ""
          description: 审批人手机号 (不填时默认为企业超管)
          type: string
        remark:
          default: ""
          description: 备注，驳回原因或者通过备注，限制 120 个字符
          type: string
      required:
        - access_token
        - client_id
        - company_id
        - order_id
        - sign
        - timestamp
      type: object
    api.approval.v1.CurAppRover:
      description: 当前审批人
      properties:
        type:
          default: ""
          description: 类型
          type: string
        value:
          default: ""
          description: 值
          type: string
      type: object
    api.approval.v1.DailyAmountControl:
      description: 每日金额管控内容
      properties:
        daily_amount:
          description: 每人日金额管控
          format: int32
          type: integer
        control_type:
          description: 管控方式1 日清
          format: int32
          type: integer
        control_product:
          description: 1 市内用车
          items:
            format: int32
            type: integer
          type: array
      required:
        - control_product
        - daily_amount
      type: object
    api.approval.v1.DeleteApprovalApiReply:
      example:
        data: "{}"
      properties:
        data:
          properties: { }
          type: object
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.DeleteApprovalReply:
      properties: { }
      type: object
    api.approval.v1.DeleteApprovalRequest:
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        company_id:
          default: "{{company_id}}"
          description: 滴滴公司 ID
          type: string
        sign:
          default: ""
          description: 签名
          type: string
        approval_id:
          default: ""
          description: 滴滴申请单ID，approval_id与out_approval_id同时存在时，以approval_id为准
          type: string
        is_force:
          description: 强制取消标志，1，是（需要开白名单）0，否
          format: int32
          type: integer
        out_approval_id:
          default: ""
          description: "外部申请单ID，客户侧申请单ID，不大于 120 字符。eg: TA_100002，与返回中的approvalid一\
            一对应"
          type: string
      required:
        - access_token
        - client_id
        - company_id
        - sign
        - timestamp
      type: object
    api.approval.v1.ExtendFieldList:
      description: 扩展信息list
      properties:
        extend_field_01:
          default: ""
          description: 扩展信息一
          type: string
        extend_field_02:
          default: ""
          description: 扩展信息二
          type: string
        extend_field_03:
          default: ""
          description: 扩展信息三
          type: string
      type: object
    api.approval.v1.ListApprovalOrderApiReply:
      example:
        data:
          records:
            - personal_real_pay: personal_real_pay
              scene_type: scene_type
              refund_price: refund_price
              discount_fee: discount_fee
              actual_tlat: actual_tlat
              begin_charge_time: begin_charge_time
              order_status: 1
              company_pay: company_pay
              city_name: city_name
              company_refund: company_refund
              regulation_id: regulation_id
              order_create_time: order_create_time
              car_level: 6
              personal_refund: personal_refund
              actual_end_name: actual_end_name
              pay_type: 5
              is_invoice: 5
              departure_time: departure_time
              passenger_phone: passenger_phone
              call_phone: call_phone
              budget_center_list:
                - sequence: 7
                  app_name: app_name
                  code: code
                  id: id
                  value: value
                - sequence: 7
                  app_name: app_name
                  code: code
                  id: id
                  value: value
              out_approval_id: out_approval_id
              actual_start_name: actual_start_name
              total_price: total_price
              actual_price: 2.302136
              actual_flat: actual_flat
              scene_id: scene_id
              budget_center_id: budget_center_id
              pre_total_fee: pre_total_fee
              use_car_type: 0
              finish_time: finish_time
              approval_id: approval_id
              pay_time: pay_time
              rule_id: rule_id
              start_name: start_name
              personal_pay: personal_pay
              actual_tlng: actual_tlng
              extra_info: extra_info
              company_real_pay: company_real_pay
              fixed_discount_fee: fixed_discount_fee
              end_name: end_name
              actual_flng: actual_flng
              order_id: order_id
            - personal_real_pay: personal_real_pay
              scene_type: scene_type
              refund_price: refund_price
              discount_fee: discount_fee
              actual_tlat: actual_tlat
              begin_charge_time: begin_charge_time
              order_status: 1
              company_pay: company_pay
              city_name: city_name
              company_refund: company_refund
              regulation_id: regulation_id
              order_create_time: order_create_time
              car_level: 6
              personal_refund: personal_refund
              actual_end_name: actual_end_name
              pay_type: 5
              is_invoice: 5
              departure_time: departure_time
              passenger_phone: passenger_phone
              call_phone: call_phone
              budget_center_list:
                - sequence: 7
                  app_name: app_name
                  code: code
                  id: id
                  value: value
                - sequence: 7
                  app_name: app_name
                  code: code
                  id: id
                  value: value
              out_approval_id: out_approval_id
              actual_start_name: actual_start_name
              total_price: total_price
              actual_price: 2.302136
              actual_flat: actual_flat
              scene_id: scene_id
              budget_center_id: budget_center_id
              pre_total_fee: pre_total_fee
              use_car_type: 0
              finish_time: finish_time
              approval_id: approval_id
              pay_time: pay_time
              rule_id: rule_id
              start_name: start_name
              personal_pay: personal_pay
              actual_tlng: actual_tlng
              extra_info: extra_info
              company_real_pay: company_real_pay
              fixed_discount_fee: fixed_discount_fee
              end_name: end_name
              actual_flng: actual_flng
              order_id: order_id
      properties:
        data:
          $ref: '#/components/schemas/api.approval.v1.ListApprovalOrderReply'
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.ListApprovalOrderReply:
      example:
        records:
          - personal_real_pay: personal_real_pay
            scene_type: scene_type
            refund_price: refund_price
            discount_fee: discount_fee
            actual_tlat: actual_tlat
            begin_charge_time: begin_charge_time
            order_status: 1
            company_pay: company_pay
            city_name: city_name
            company_refund: company_refund
            regulation_id: regulation_id
            order_create_time: order_create_time
            car_level: 6
            personal_refund: personal_refund
            actual_end_name: actual_end_name
            pay_type: 5
            is_invoice: 5
            departure_time: departure_time
            passenger_phone: passenger_phone
            call_phone: call_phone
            budget_center_list:
              - sequence: 7
                app_name: app_name
                code: code
                id: id
                value: value
              - sequence: 7
                app_name: app_name
                code: code
                id: id
                value: value
            out_approval_id: out_approval_id
            actual_start_name: actual_start_name
            total_price: total_price
            actual_price: 2.302136
            actual_flat: actual_flat
            scene_id: scene_id
            budget_center_id: budget_center_id
            pre_total_fee: pre_total_fee
            use_car_type: 0
            finish_time: finish_time
            approval_id: approval_id
            pay_time: pay_time
            rule_id: rule_id
            start_name: start_name
            personal_pay: personal_pay
            actual_tlng: actual_tlng
            extra_info: extra_info
            company_real_pay: company_real_pay
            fixed_discount_fee: fixed_discount_fee
            end_name: end_name
            actual_flng: actual_flng
            order_id: order_id
          - personal_real_pay: personal_real_pay
            scene_type: scene_type
            refund_price: refund_price
            discount_fee: discount_fee
            actual_tlat: actual_tlat
            begin_charge_time: begin_charge_time
            order_status: 1
            company_pay: company_pay
            city_name: city_name
            company_refund: company_refund
            regulation_id: regulation_id
            order_create_time: order_create_time
            car_level: 6
            personal_refund: personal_refund
            actual_end_name: actual_end_name
            pay_type: 5
            is_invoice: 5
            departure_time: departure_time
            passenger_phone: passenger_phone
            call_phone: call_phone
            budget_center_list:
              - sequence: 7
                app_name: app_name
                code: code
                id: id
                value: value
              - sequence: 7
                app_name: app_name
                code: code
                id: id
                value: value
            out_approval_id: out_approval_id
            actual_start_name: actual_start_name
            total_price: total_price
            actual_price: 2.302136
            actual_flat: actual_flat
            scene_id: scene_id
            budget_center_id: budget_center_id
            pre_total_fee: pre_total_fee
            use_car_type: 0
            finish_time: finish_time
            approval_id: approval_id
            pay_time: pay_time
            rule_id: rule_id
            start_name: start_name
            personal_pay: personal_pay
            actual_tlng: actual_tlng
            extra_info: extra_info
            company_real_pay: company_real_pay
            fixed_discount_fee: fixed_discount_fee
            end_name: end_name
            actual_flng: actual_flng
            order_id: order_id
      properties:
        records:
          description: 订单记录数组
          items:
            $ref: '#/components/schemas/api.approval.v1.ApprovalOrderRecord'
          type: array
      type: object
    api.approval.v1.MeetingCity:
      description: 会议城市基本信息
      properties:
        city_id:
          default: ""
          description: 城市ID
          type: string
        city:
          default: ""
          description: 城市名称
          type: string
      type: object
    api.approval.v1.MeetingTrip:
      description: 会议行程信息(TravelDetail中meeting_trip信息)
      properties:
        meeting_city:
          description: 会议城市，会议管控必传
          items:
            $ref: '#/components/schemas/api.approval.v1.MeetingCity'
          type: array
      type: object
    api.approval.v1.OutApprovalStatusApiReply:
      example:
        data: "{}"
      properties:
        data:
          properties: { }
          type: object
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.OutApprovalStatusReply:
      properties: { }
      type: object
    api.approval.v1.OutApprovalStatusRequest:
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        company_id:
          default: "{{company_id}}"
          description: 企业ID，滴滴企业ID
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        sign:
          default: ""
          description: 签名，签名（注：本接口的传参都要参与签名）
          type: string
        out_id:
          default: ""
          description: 外部审批单id，使用滴滴消息通知中的out_id
          type: string
        status:
          description: 审批单状态，0 驳回 1 通过
          format: int32
          type: integer
      required:
        - access_token
        - client_id
        - company_id
        - out_id
        - sign
        - status
        - timestamp
      type: object
    api.approval.v1.PassengerExternal:
      description: 出行人信息 - 外部人员字段
      properties:
        member_type:
          description: 出行人 key 标识，枚举值数字：0：手机号，passenger_phone 3:：外部出行人ID，traveler_id
            以 member_type 对应的值为准，其他字段传了不生效 在passenger_type为1时，member_type可以不传，手机号也可以不传递。
          format: int32
          type: integer
        passenger_phone:
          default: ""
          description: 出行人手机号，注意：涉及用车品类外部出行人需要给手机号，不传手机号无法下单关联成本中心。
          type: string
        traveler_id:
          default: ""
          description: 外部出行人 ID
          type: string
        policy_type:
          description: 执行政策指定项类型，1：out_rank_id 外部职级编号 2：employee_number 员工工号 3：employee_phone
            员工手机号 4：employee_email 员工邮箱 5：regulation_id 制度I 指定生效policy_type_value内对应的值
          format: int32
          type: integer
        policy_type_value:
          default: ""
          description: 执行政策指定项
          type: string
      type: object
    api.approval.v1.PassengerInternal:
      description: 出行人信息 - 内部人员字段
      properties:
        passenger_type:
          description: 出行人类型，枚举值数字：0：员工；1：外部出行人
          format: int32
          type: integer
        budget_center_list:
          $ref: '#/components/schemas/api.approval.v1.BudgetCenterListItem'
        passenger_name:
          default: ""
          description: 出行人姓名/员工姓名
          type: string
        member_type:
          description: 出行人类型，0：手机号，passenger_phone 1：工号；employee_number 必填 2：邮箱：email
            必填 默认为0 以 member_type 对应的值为准，其他字段传了不生效
          format: int32
          type: integer
        passenger_phone:
          default: ""
          description: 员工手机号，举例：15100000000
          type: string
        employee_number:
          default: ""
          description: 员工工号
          type: string
        email:
          default: ""
          description: 员工邮箱
          type: string
      type: object
    api.approval.v1.PassengerList:
      description: 出行人信息 -> passenger_list
      properties:
        internal:
          $ref: '#/components/schemas/api.approval.v1.PassengerInternal'
        external:
          $ref: '#/components/schemas/api.approval.v1.PassengerExternal'
      type: object
    api.approval.v1.TravelBudget:
      description: 差旅预算总额，需转换为json后赋值给travel_budget字段；
      properties:
        budget_amount:
          description: 申请单总预算金额 单位 分
          format: int32
          type: integer
        budget_type:
          description: 预算类型，1 申请单维度
          format: int32
          type: integer
        budget_share:
          description: 需要申请单使用的制度内开启对应的品类。且最终取两者交集。使用数字，预算可使用品类：1 市内用车 2 接送场景 301
            国内酒店 401 火车票 601 国内机票 701 国际机票 801 国际酒店
          items:
            format: int32
            type: integer
          type: array
      type: object
    api.approval.v1.TravelDetail:
      description: 差旅单行程信息 -> travel_detail
      properties:
        start_date:
          default: ""
          description: 行程开始时间，格式： YYYY-MM-DD
          type: string
        end_date:
          default: ""
          description: 行程结束时间，格式： YYYY-MM-DD
          type: string
        trips:
          description: 行程信息，行程信息；行程使用的制度(regulation_id)中，出差城市配置为无需填写时，trips可为空。否则必传，需按照行程顺序填写
            详见 trip
          items:
            $ref: '#/components/schemas/api.approval.v1.Trip'
          type: array
        meeting_trip:
          $ref: '#/components/schemas/api.approval.v1.MeetingTrip'
        start_city_rule:
          description: 行程起点城市是否包含市内用车权限和酒店，（0-不包含，1-包含），trips第一行视为起点城市；默认为无市内用车和酒店，不管控和轻度管控不生效
            不影响接送机服务
          format: int32
          type: integer
        end_city_rule:
          description: "行程终点城市是否包含市内用车权限和酒店，（0-不包含，1-包含），trips最后一行视为终点城市，不管控和轻度管控不\
            生效 不影响接送机服务,中度管控只对市内用车生效。严格管控下，对市内用车和酒店生效"
          format: int32
          type: integer
        train_total_count:
          description: 火车票次数，火车票次数；火车票次数 （不传走默认计算逻辑，传0代表火车票不可用）
          format: int32
          type: integer
        flight_total_count:
          description: 机票次数，机票次数（不传走默认计算逻辑，传0代表机票不可用，对国内机票、国际机票都生效）
          format: int32
          type: integer
        hotel_total_count:
          description: 酒店总间夜，酒店总间夜（不传走默认计算逻辑，传0代表酒店不可用，对国内酒店、国际酒店都生效）
          format: int32
          type: integer
        pickup_total_count:
          description: 接送机总次数，接送机总次数（不传走默认计算逻辑，其他参数代表接送机总次数）
          format: int32
          type: integer
        category_control:
          description: "品类控制开关，品类控制开关；制度有权限时,控制申请单是否创建品类对应服务 3-市内用车；4-火车票服务；6-机票服务\
            ；9-接送服务；10-酒店服务；11-国际机票服务，12 国际酒店服务 如果传了机火两个品类。制度上只开了机票品牌。则创建申请单成功，只能使\
            用机票服务 category_control 传空数组会报错 举例：[4,10]，同时传递国内国际机票类别时，需要至少有一段国内城市对，否则\
            报错。"
          items:
            format: int32
            type: integer
          type: array
      type: object
    api.approval.v1.TravelManagement:
      description: 差旅管控 -> travel_management
      properties:
        daily_amount_control:
          description: 每日金额管控内容
          items:
            $ref: '#/components/schemas/api.approval.v1.DailyAmountControl'
          type: array
      type: object
    api.approval.v1.Trip:
      description: 行程信息(TravelDetail中trips列表Obj信息)
      properties:
        departure_city:
          default: ""
          description: 出发城市名称，出发城市名称 城市名称和城市ID建议传一种，不要一起传。
          type: string
        departure_city_id:
          description: 滴滴出发城市ID，出发城市 ID，国际需要使用ID
          format: int32
          type: integer
        destination_city:
          default: ""
          description: 到达城市名称，到达城市名称 ；非轻度管控必传
          type: string
        destination_city_id:
          description: 滴滴到达城市ID，到达城市 ID；非轻度管控必传 国际需要使用ID
          format: int32
          type: integer
        start_date:
          default: ""
          description: 行程段开始时间，行程段开始时间 轻度管控模式下，必须与 travel_detail 中的 start_date 相同
            举例：2023-01-02
          type: string
        end_date:
          default: ""
          description: 行程段结束时间，行程段结束时间 轻度管控模式下，必须与 travel_detail 中的 end_date 相同 举例：2023-01-14
          type: string
        trip_type:
          default: ""
          description: "出行方式，出行方式：0-其他；1-火车 ;2-飞机；支持多个，多个用英文逗号分开（用车酒店默认根据制度配置生效）举例\
            ：0,1,2，中度管控按照第一段生效"
          type: string
        to_citys:
          description: "目的城市集合，轻度管控必传，其他模式传了不生效 举例：[{\"id\":1,\"name\":\"北京\"}]"
          items:
            type: string
          type: array
        is_return:
          description: 单程/往返，控制严格管控模式下，滴滴侧是否识别这个trip为往返行程生成返程行程权限 非必传字段，0-单程， 1-往返；默认为单程；传1后的拆分逻辑为：去程使用trip的传参生成，返程生成规则为：目的地-出发地，end_date-end_date，使用去程的trip_type；若对去程和返程的交通方式有分别管控诉求，不推荐使用此字段，建议拆成两个trip传输
          format: int32
          type: integer
      type: object
    api.approval.v1.TripCity:
      description: 用车城市信息
      properties:
        city_id:
          description: 用车城市的 ID
          format: int32
          type: integer
        city:
          default: ""
          description: 用车城市的名称
          type: string
      required:
        - city
        - city_id
      type: object
    api.approval.v1.UpdateApprovalApiReply:
      example:
        data: "{}"
      properties:
        data:
          properties: { }
          type: object
      required:
        - data
        - errmsg
        - errno
        - request_id
      type: object
    api.approval.v1.UpdateApprovalReply:
      properties: { }
      type: object
    api.approval.v1.UpdateApprovalRequest:
      properties:
        client_id:
          default: "{{client_id}}"
          description: 申请应用时分配的AppKey
          type: string
        access_token:
          default: "{{access_token}}"
          description: 授权后的access token
          type: string
        timestamp:
          default: "0.0"
          description: 当前时间戳(精确到秒级)
          type: string
        company_id:
          default: "{{company_id}}"
          description: 滴滴公司 ID
          type: string
        sign:
          default: ""
          description: 签名
          type: string
        approval_type:
          description: "申批单类型，枚举值数字：1:差旅单；2: 行前审批-按次数；3: 行前审批-按日期"
          format: int32
          type: integer
        approval_id:
          default: ""
          description: 滴滴申请单ID。approval_id与out_approval_id至少需要传一个
          type: string
        out_approval_id:
          default: ""
          description: 外部申请单ID，外部申请单ID approval_id优先级大于out_approval_id
          type: string
        reason:
          default: ""
          description: "申请原因，申请原因，限制 200 字符；默认为空字符 eg: 北京出差，行程维度事由。使用卡片事由时，可以为空"
          type: string
        travel_budget:
          default: ""
          description: 差旅预算总额，差旅预算控制，一个申请单对应一个总预算纬度，一次只能全部或者选择部分品类。字段不传输，修改不处理，字段传输，空对象时处理为清空。给值为修改
          type: string
        travel_management:
          default: ""
          description: 差旅管控，差旅管控，目前仅支持市内用车每日限额设置（为json字符串类型，具体看请求示例）
          type: string
        extra_info:
          default: ""
          description: 扩展信息，扩展信息，自定义字段；最长不大于 500 字符；(必须为json字符串)；默认为空字符
          type: string
        travel_detail:
          default: ""
          description: 差旅单行程信息，差旅单行程信息，将travel_detail的值转为 json 字符串，approval_type =
            1 时必传
          type: string
        business_trip_detail:
          default: ""
          description: "因公用车审批行程数据，行前行程信息，将 business_trip_detail转为 json 字符串，approval_type\
            \ = 2 或 approval_type = 3 必填。详见 [business_trip_detail](#business_trip_detail\
            \ （按次数）"
          type: string
        passenger_list:
          default: ""
          description: 出行人信息，出行人信息，不传时默认出行人为申请人，将passenger_list 转为 json 数组字符串。详见passenger_list
          type: string
        budget_center_list:
          default: ""
          description: 多成本中心
          type: string
        extend_field_list:
          default: ""
          description: 扩展信息list，自定义字段，最长不大于 500 字符，将extend_field_list转为 json 字符串，三个字段仅作为备注性字段。详见extend_field_list
          type: string
        budget_center_id:
          default: ""
          description: "滴滴侧成本中心ID，滴滴侧成本中心ID；获取方式接口返回的 ID（可为项目/部门ID) eg : 1125920020961744\
            \ 关联部门 时， id和out_budget_id 优先处理id关联项目时 id和 out_budget_id与 name 组合唯一值时\
            \ 优先处理id ，out_budget_id与 name 同时有值时按照项目处理，out_budget_id有值且name为空时，按照部门\
            处理"
          type: string
        name:
          default: ""
          description: 部门/项目名称，不大于 200 字符
          type: string
        out_budget_id:
          default: ""
          description: 编号，长度限制：≤ 64 字符
          type: string
        travel_budget_obj:
          $ref: '#/components/schemas/api.approval.v1.TravelBudget'
        travel_management_obj:
          $ref: '#/components/schemas/api.approval.v1.TravelManagement'
        budget_center_list_objs:
          description: "差旅预算总额,可使用脚本将其转换为json后赋值给 budget_center_list 字段"
          items:
            $ref: '#/components/schemas/api.approval.v1.BudgetCenterListItem'
          type: array
        extend_field_list_objs:
          description: "扩展信息list,可使用脚本将其转换为json后赋值给 budget_center_list 字段"
          items:
            $ref: '#/components/schemas/api.approval.v1.ExtendFieldList'
          type: array
        passenger_list_objs:
          description: "出行人信息,可使用脚本将其转换为json后赋值给 passenger_list 字段"
          items:
[...]
